<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881122469323-r1gv337jomt02h0jj8nbjitmmhfbnjbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881122469323-r1gv337jomt02h0jj8nbjitmmhfbnjbc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>881122469323-4vgifp6vhnm4hhpsq917j7jpcuo34pfm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKLW7guOzj3tDZUWzH6BwqatExC6WOlMo</string>
	<key>GCM_SENDER_ID</key>
	<string>881122469323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingminds.jacksocialapp.jackSocialAppV2</string>
	<key>PROJECT_ID</key>
	<string>chat-app-91a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-91a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881122469323:ios:c7c4a0530ed6f718c6024e</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-91a9d-default-rtdb.firebaseio.com</string>
</dict>
</plist>